CompileFlags:
  Add: [
    "-I/opt/homebrew/include",
    "-I/opt/homebrew/lib/wx/include/osx_cocoa-unicode-3.2",
    "-I/opt/homebrew/lib/wx/include/osx_cocoa-unicode-release-3.2",
    "-std=c++17"
  ]

